// color

@basic-white: #ffffff;
@basic-dark: #283645;
@basic-green: #2AAB6D;
@dark-background: #1D2631;
@raspeberry-color: #D22856;
@light-grey: #F2F2F2;
@basic-grey: #E5E5E5;

// fonts

@open-sans: "Open Sans", "Arial", sans-serif;

// viewports

@tablet-width: 660px;
@desktop-width: 1200px;
