.download-add {
  background-color: @dark-background;
  min-width: 280px;
  margin-top: 292px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: @tablet-width) {
    margin-top: 0;
    grid-column-start: 1;
    grid-row-start: 2;
    background-color: transparent;
  }
}

.download-add .button {
  min-width: 280px;
  max-width: 300px;
  margin: 28px auto 0;
}

.download-add__list {
  margin: 20px auto 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  width: 280px;
}

.download-add__list li {
  list-style: none;
}

.download-add__paragraph {
  font-family: @open-sans;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: white;
  width: 280px;
  margin: 20px auto 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    line-height: 24px;
    width: 300px;
  }
}
