.download-add {
  background-color: @dark-background;
}

.button-type-one {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  text-decoration: none;
}

.download-add__list li {
  list-style: none;
}

.download-add__paragraph {
  font-family: @open-sans;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: white;
}
