.main-header__top {
  background-color: rgba(0, 0, 0, 0.3);
  min-height: 66px;

  .main-header__img--tablet,
  .main-header__img--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    min-height: 110px;

    .main-header__img--mobile {
      display: none;
    }

    .main-header__img--tablet {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    .main-header__img--tablet {
      display: none;
    }

    .main-header__img--desktop {
      display: block;
    }
  }
}

.main-header-top__container {
  display: flex;
  justify-content: space-between;
}

.main-header__img {
  margin-top: 22px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 27px;
  }
}
