.main-header__top {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  padding: 0 20px;

  .header-logo__img--tablet,
  .header-logo__img--desktop {
    display: none;
  }

  @media (min-width: @tablet-width) {
    .header-logo__img--mobile {
      display: none;
    }

    .header-logo__img--tablet {
      display: block;
    }
  }

  @media (min-width: @desktop-width) {
    .main-header__top {
      padding: 0 130px;
    }

    .header-logo__img--tablet {
      display: none;
    }

    .header-logo__img--desktop {
      display: block;
    }
  }
}
