.main-header {
  margin: 0 auto;
  width: 100%;
  height: 733px;
  background-image: url("../../img/back-desktop.jpg");
  background-color: @dark-background;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: @tablet-width) {
    min-width: 620px;
    height: 729px;
  }

  @media (min-width: @desktop-width) {
    height: 853px;
  }
}


.main-title {
  display: block;
  width: 210px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: white;
  padding-top: 20px;
  text-align: center;

  @media (min-width: @tablet-width) {
    width: 300px;
    margin-top: 80px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.main-header__title {
  display: block;
  margin: 0 auto;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  color: white;
}
