.main-header__nav {
  width: 55px;

  @media (min-width: @desktop-width) {
    width: 620px;
  }
}

.site-list__item {
  list-style: none;
}

.site-list__item a {
  color: white;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: @basic-dark;
}

.site-list {
  display: none;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.nav__toggle {
  width: 50px;
  height: 30px;
  border: none;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
