.price__table {
  background-color: @light-grey;
  border-spacing: 0;
}

.price__rate-name {
  width: 276px;
  height: 94px;
  background-color: @basic-dark;
  color: white;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  border: 2px solid @basic-grey;
}

.price__rate-name span {
  display: block;
  color: white;
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
}

.price__rate-services {
  color: @basic-dark;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  padding: 10px 20px;
  border: 2px solid @basic-grey;
}

.price__img {
  padding: 0;
  margin: 0;
  text-align: center;
}

.price__row {
  border: 2px solid ;
}

.price__row td {
  border: 2px solid @basic-grey;
}
